.loginFormContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-form {
  display: flex;
  flex-direction: column;
}

.loginButton {
  width: 30px;
  align-self: center;
}
.errorMessage {
  color: rgb(246, 85, 85);
}
